* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

/*-------------------------------------------
  # LEFT SECTION START
  ---------------------------------------------*/

/* .left {
  width: 20%;
  height: 100%;
  background-color: black;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: -1px 15px;
  transition: all ease-in-out 0.3s;
  z-index: 997;
  border: 1px solid #ffffff transparent 90%;
} */

.left .img-left {
  background-color: rgb(82, 92, 88);
  width: 175px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 15px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.left .img-left:hover {
  background-color: #149ddd;
}

.left a {
  color: #149ddd;
  text-decoration: none;
  transition: 1s;
}

.left .logo {
  line-height: 1;
  margin-bottom: 15px;
}

.left .logo h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 30px 0 0 0;
}

.left .social-links {
  margin: 10px 0 35px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.left .social-links a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: rgb(82, 92, 88);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  box-shadow: 0px 0px 10px rgb(247, 188, 188);
}

.left .social-links a:hover {
  background-color: #149ddd;
  color: #ffffff;
}

/*-------------------------------------------
  # LEFT SECTION END
---------------------------------------------*/
/*-------------------------------------------
# right Section START
---------------------------------------------*/
.right p {
  font-size: 56px;
}

.right p > span {
  position: relative;
  display: inline-block;
  color: #ffffff;
  height: 30px;
  /* vertical-align: bottom; */
  overflow: hidden;
}

.right p > span > span {
  display: block;
  animation: animateWords 10s infinite ease;
}

@keyframes animateWords {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-200%);
  }

  75% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(-400%);
  }
}

.right {
  width: 80%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}

.right img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: block;
  object-fit: cover;
  z-index: 1;
  filter: brightness(70%);
}

.right:before {
  content: "";
  background-color:
    #040b14,
    transparent 70%;
  position: absolute;
  inset: 0;
  z-index: 2;
}

.right .container {
  position: relative;
  z-index: 3;
}

.right h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.right p {
  margin: 5px 0 0 0;
  font-size: 26px;
  color: #ffffff;
}

/*-------------------------------------------
# right Section END
---------------------------------------------*/

/*-------------------------------------------
# NAVMENU SECTION START
---------------------------------------------*/
.navmenu {
  padding: 0;
  z-index: 9997;
}

.navmenu a,
.navmenu a:focus {
  color: #a8a9b4;
  padding: 15px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  transition: 1s;
}

.navmenu a .navicon,
.navmenu a:focus .navicon {
  font-size: 20px;
  margin: 0 10px;
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus {
  color: #ffffff;
}

.navmenu a:hover .navicon,
.navmenu .active .navicon,
.navmenu .active:focus .navicon {
  color: #149ddd;
}

.navmenu ul {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
}

/*-------------------------------------------
# NAVMENU SECTION END
---------------------------------------------*/

/*-------------------------------------------
# ABOUT SECTION START
---------------------------------------------*/

section,
.section {
  color: #272829;
  /* background-image: linear-gradient(#1e130c , #9a8478); */
  padding: 0 10px;
  overflow: clip;
  margin-left: 20%;
}

.section-title {
  padding: 50px 12px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #149ddd;
  left: 0;
  bottom: 0;
}

.section-title p {
  margin-bottom: 0;
}

.about .content h2 {
  font-weight: bolder;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

.about .content ul {
  list-style: none !important;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 5px;
  font-family: "Raleway", "sans-serif";
}

.about .content ul i {
  font-size: 30px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about ul li {
  font-size: 20px;
}

.about p {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bolder;
}

.about .content .download-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .content .download-button .resume-btn {
  border: none;
  margin: 7px 0;
  padding: 12px 24px;
  background-color: #149ddd;
  color: #040b14;
  border: 1px solid #080808;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: 500;
}

.about .content .download-button .resume-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -90%;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background-color: #ff3f34;
  transform: skewX(30deg);
  transition: all 0.5s;
}

.about .content .download-button .resume-btn:hover:before {
  left: 90%;
}

.about_content span {
  font-size: 15px;
}

/*-------------------------------------------
# ABOUT SECTION END
---------------------------------------------*/

/*-------------------------------------------
# SKILLS SECTION START
---------------------------------------------*/

.skill img {
  width: 40%;
  margin: 10px 0;
}

.html-logo {
  border: 2px dashed #149ddd;
  text-align: center;
  height: auto;
  width: 15%;
  padding: 20px 0;
  border-radius: 10px;
}

.soft-skill-logo {
  border: 2px dashed #149ddd;
  text-align: center;
  height: auto;
  width: 13%;
  padding: 10px 0;
  border-radius: 10px;
}

.skill p {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bolder;
}

.skill .technical-skill .html-logo:hover {
  border: 2px solid #040b14;
  color: #149ddd;
  transition: all 0.5s ease-in-out;
}

.soft-skill .soft-skill-logo:hover {
  border: 2px solid #040b14;
  color: #149ddd;
  transition: all 0.5s ease-in-out;
}

/*-------------------------------------------
# SKILLS SECTION END
---------------------------------------------*/

/*-------------------------------------------
# Contact SECTION START
---------------------------------------------*/

.contact .left-side-contact {
  background-color: color-mix(in srgb, #6fccf7, transparent 92%);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 445px;
}

.contact .contact-div i {
  width: 50px;
  height: 50px;
  color: #149ddd;
  font-size: 20px;
  border-radius: 50%;
  background-color: color-mix(in srgb, #149ddd, transparent 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
  cursor: pointer;
}

.contact .contact-div h3 {
  color: #414d5d;
  padding: 0;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 700;
}

.contact .contact-div i:hover {
  background-color: #149ddd;
  color: white;
}

.contact .contact-div {
  margin-bottom: 40px;
}

.right-side-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.contact form {
  width: 100%;
  height: 445px;
  background-color: color-mix(in srgb, #6fccf7, transparent 92%);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.contact .right-side-contact .contact-input label {
  /* width: 35%; */
  margin-bottom: 10px;
  color: #414d5d;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.contact .right-side-contact input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid #040b14;
}

.contact .contact-input-next input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid #040b14;
}

.contact .contact-input-next label {
  width: 100%;
  margin-bottom: 10px;
  color: #414d5d;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.contact .contact-input-next .textarea-control {
  width: 100%;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid #040b14;
}

.contact input,
.contact .textarea-control {
  line-height: 1.5;
  font-weight: 700;
}

.contact .contact-button {
  padding: 30px 0;
}

.contact .contact-button button {
  padding: 10px 15px;
  border: 1px solid #040b14;
  border-radius: 15px;
  /* width: 30%; */
  background-color: #149ddd;
  color: #ffffff;
}

.contact form input:hover,
.contact form textarea:hover {
  background-color: #e7f1f7;
}

.contact .contact-button button:hover {
  background-color: #61cdff;
  color: #0b0c0d;
}

/*-------------------------------------------
# Contact SECTION END
---------------------------------------------*/
/*-------------------------------------------
# PROJECT SECTION END
---------------------------------------------*/

.project h1 {
  font-family: Verdana, Tahoma, sans-serif;
  padding: 10px 0;
}

.project .project_section {
  width: 10%;
  height: 100px;
  padding: 5px;
  line-height: 35px;
  border: 2px dashed #149ddd;
  border-radius: 10px;
  cursor: pointer;
}

.project-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.project_row img {
  width: 60px;
}

/*-------------------------------------------
# PROJECT SECTION END
---------------------------------------------*/
/*-------------------------------------------
# FOOTER SECTION END
---------------------------------------------*/
.footer {
  height: 65px;
  background-color: #272829;
}

.footer p {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

.footer .footer_nav {
  text-align: center;
}

.footer a {
  text-align: center !important;
  text-decoration: none;
  color: #ffffff;
  word-spacing: unset;
  margin: 0 15px 0 0;
  font-size: 14px;
}

.footer a:hover {
  color: #149ddd;
}

/*-------------------------------------------
# FOOTER SECTION END
---------------------------------------------*/

/*-------------------------------------------
  # RESPONSIVE SECTION START
  -------------------------------------------*/

/* ================================
  RESPONSIVE SIDEBAR / OFFCANVAS
  ================================ */

/* DESKTOP VIEW (>= 992px) */
@media (min-width: 992px) {
  .left {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    transform: translateX(0);
    z-index: 10;
  }

  .offcanvas {
    position: static;
    transform: none !important;
    visibility: visible !important;
    background-color: black;
  }

  .offcanvas-backdrop {
    display: none !important;
  }

  /* main,
  .section,
  .right {
    margin-left: auto;
  } */
}

/* MOBILE VIEW (< 992px) */
@media (max-width: 991px) {
  .left {
    width: 0;
    position: static;
  }

  .navbar-toggler {
    z-index: 5;
  }

  .offcanvas {
    width: 250px !important;
  }

  main,
  .section,
  .right {
    margin-left: 0 !important;
  }

  .right {
    width: 100%;
  }
  .left .img-left {
    width: 120px;
  }
  .left img {
    width: 100px;
    height: 100px;
  }
  .left .logo h1 {
    font-size: 20px;
  }
  .left .social-links a {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    margin: 10px 12px;
  }
  section,
  .section {
    padding: 0 5px;
  }
  .skill img {
    width: 60%;
  }

  .skill .soft-skill-logo {
    width: 50%;
  }
  .technical-skill {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  .technical-skill .html-logo {
    width: 150px;
  }
  .project .project_section {
    margin: 10px 0px;
  }
  .project .project_row {
    margin: 0px 0px;
  }
}
/*-------------------------------------------
      # RESPONSIVE SECTION END
    -------------------------------------------*/
